version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: tailor_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"     # change left side to "3307:3306" if port conflict on Windows
    volumes:
      - tailor_db_data:/var/lib/mysql
  frontend:
    build: ./frontend
    container_name: tailor_frontend
    restart: always
    depends_on:
      - api
    environment:
      - VITE_API_BASE_URL=http://localhost:8000/api/v1
    ports:
      - "5173:5173"


  api:
    build: .
    container_name: tailor_api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  tailor_db_data:
